/* 1 em = 16px!!! */

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Mobile-first, 320px min*/
body {
    background-image: url("https://user-images.githubusercontent.com/54642928/75304716-e0706b00-583b-11ea-99f7-41c7ef66ce82.jpg");
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: 'Pacifico';
}

h2, h3, h4 {
    font-family: 'Poppins';
}

p, a {
    font-family: 'Open Sans';
    font-size: 1em;
}

a {
    font-size: .90em;
}

#app-name {
    margin-top: 3.0em;
    font-size: 2.5rem;
    text-align: center;
    color: #B92201;
}

#app-descrip, #app-guider {
    font-size: 1.2rem;
    color: #26002e;
}

#snap-link, #food-insecurity-link {
    text-decoration: none;
    background-color: rgba(254, 187, 63, .8);
    color: #ffffff;
    border: 1px solid white;
    border-radius: 1em;
    font-weight: bolder;
}

#food-insecurity-link {
    margin-top: .75em;
}

.zip-code-form {
    display: flex;
    flex-direction: row;
}

#zip-input, #submit-button {
    height: 1.5em;
    width: 10em;
    font-size: 1em;
}

ul {
    list-style-type: none;
    text-align: left;
    border: 1px dotted black;
}

/* footer {
    font-size: 20px;
} */

.landing-page {
    text-align: center; 
    overflow-y: hidden;
    position: relative;
    bottom: 2.0em;
}

.snap-page {
    text-align: center; 
    position: relative;
    bottom: 1em;
}

.map-placeholder {
    margin: auto;
    height: 300px;
    width: 350px;
}

.data-container {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.snap-results {
    height: 400px;
    width: 300px;
    overflow-y: auto;
    border: 1px solid black;
}

.home-nav-links {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    line-height: 2.0;
}

.food-insecurity-page {
    padding: 50px;
}

#error-msg { 
    display: none;
    font-size: 2em;
    color: darkred;
    margin-top: 0.5em;
}

#nav-food-insec {
    justify-content: center;
}

#address1, #address2 {
    font-size: 14px;
}

/* Large smartphones */ 
/* @media only screen and (min-width: 375px) {
} */

/* iPads and Tablets */
@media only screen and (min-width: 768px) {
    
    body {
        background-size: 100% 100%;
    }

    .data-container {
        flex-direction: row-reverse;
    }

    .map-placeholder {
        height: 500px;
        width: 500px;
    }

    .snap-results {
        height: 500px;
        width: 450px;
        overflow-x: hidden;
        overflow-y: auto;
        border: 1px solid black;
    }
}

/* Desktop
@media only screen and (min-width: 1000px) {

}
*/

/* Larger Resolutions (Desktop) 
@media only screen and (min-width: 1000px) {

}
*/