body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .map-placeholder {
    margin: auto;
    height: 500px;
    width: 650px;
} */

.hidden {
    display: none;
}

.landing-page, .food-bank-page {
    text-align: center; 
}

.home-nav-links {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    line-height: 2.0;
}

.food-insecurity-page {
    padding: 50px;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

footer {
    font-size: 20px;
}

#nav-food-insec {
    justify-content: center;
}

ul {
    list-style-type: none;
    text-align: left;
}